[Unit]
Description=Prometheus Textfile Exporter
Documentation=https://github.com/SckyzO/textfile-exporter
After=network.target

[Service]
Type=simple
User=textfile-exporter
Group=textfile-exporter
ExecStart=/usr/local/bin/textfile-exporter \
  --textfile.directory="/var/lib/textfile-exporter" \
  --web.listen-address=":9014"

# Security Hardening
ProtectSystem=full
PrivateTmp=true
NoNewPrivileges=true
ProtectHome=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictRealtime=true

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target